  body{
      margin:0;
      }
    h1{
      font-size:70px;
      text-align:center;
      border-bottom:1px solid gray;
      margin:0;
      padding:20px;
      }
    a{
      color:black;
      text-decoration:none;
      }
    ul{
      margin:0;
      padding:30px;
      padding-left: 50px;
      font-size:20px;
      border-right: 1px solid gray;
      }
    p{
      margin-top:30px;
      margin-left:40px;
      margin-bottom:100px;
      }
#grid{
      display: grid;
      grid-template-columns: 260px 1fr
      }
@media(max-width:800px)
      {
        #grid{
              display:block;
              }
            ul{
              border-bottom: 1px solid gray;
              }
      }
